<% include ../header %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
<script>
    const socket = io();
    const room = '<%- room %>';
    socket.emit('create-room', room);
    socket.on('send-client', (msg)=>{
        document.getElementById('chat').innerHTML += msg;
    })
    const send = () =>{
        const msg = document.getElementById('msg');
        socket.emit('send-server', room, msg.value);
    };
</script>
<header>
    <h2>Ntalk - Chat</h2>
</header>
<section>
    <pre id="chat"></pre>
    <input type="text" id="msg" placeholder="Mensagem">
    <button onclick="send();">Enviar</button>
</section>

<% include ../exit %>
<% include ../footer %>